html {
  height: 100%;
  width: 87%;
}



body{
  width: 100%;
  height: 100%;
  background-color: #E3E3E3;
}





h1 {
font-family: Arial, sans-serif;
color: #888;
text-align:center;
}

.main {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 60px;

}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: #888;
  width: 100%;
  }

  header::after {
    content: '';
    display: table;
    clear: both;
  }

  .logo {
    float: left;
    padding: 10px 0;
  }
  #plzwork {

  }

  #plzwork ul {
    padding: 0;
    list-style: none;
    padding-left: 35%;
    padding-right: 10%;
    position: relative;
    left: 15%;
  }

  


  nav {


  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 35%;
    padding-right: 10%;
    position: relative;
    left: 15%;

  }

  nav li {
    display: inline-block;
    margin-left: 3%;
    padding-top: 40px;
    margin-right: 3%;
    list-style: none;
    color: #C60021;
  }

  nav a {
    text-decoration: none;
    font-size: 17px;
    font-family: arial;
    padding: 0 auto;
    color: #7ac4b1;
    font-weight: bold;
  }

  nav a:hover {
    color: #6cb8a5;
  }

  .info {
    position: relative;
    top: 50px;
    left: 10%;
    display: grid;
    grid-template-rows: 8%;
    grid-template-columns: 20% 40%;
    grid-column-gap: 10%;
    padding-top: 1%;
    padding-bottom: 5%;
  }

  .info p {
    font-family: arial;
    font-size: 20px;
    padding-top: 30%;
    padding-left: 10%;
    color: #888;
  }

  .info p a {
    color: #7ac4b1;
  }

  .info p a:hover {
    color: #6cb8a5;
  }

  .info img {
    height: 110%;
    width: 120%;
    position: relative;
    left: 2%;
  }

  .info2 {
    display: grid;
    grid-template-rows: 8%;
    grid-template-columns: 40% 20%;
    grid-column-gap: 15%;
    padding-bottom: 3%;
    padding-top: 2%;
  }

  .info2 img {
    height: 110%;
    width: 120%;

  }

  .info2 p {
    font-family: arial;
    font-size: 20px;
    position: relative;
    top: 20%;
    left: 10%;
    line-height: 25px;
    padding-right: 5%;
    padding-top: 30%;
    padding-left: 4%;
    color: #888;
  }

  .info2 p a {
    color: #7ac4b1;
  }

  .info2 p a:hover {
    color: #6cb8a5;
  }


  html, main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font: 18px Helvetica;
  }

  #fullDiv {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
  }





  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease-in-out;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .text {
    color: red;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  #logo {
    height: 100px;
    width: 100px;
    position: relative;
    top: 1%;
    left: 3%;

  }




.collin {
  display: grid;
  grid-template-columns: 15% 20% 15% 20% ;
  grid-template-rows: 15%;
  justify-content: center;
  grid-gap: 3%;
  padding-top: 2%;
  padding-bottom: 1%;
}

.collin img {
  width: 100%;
  height: 100%;
}

.collin p {
  padding-top: 10%;
}

.collinjoey img {
  width: 100%;
  height: 100%;
}

.collinjoey p {
  padding-top: 10%;
}

.sean {
  display: grid;
  grid-template-columns: 15% 20% 15% 20%;
  grid-template-rows: 15%;
  justify-content: center;
  grid-gap: 3%;
  padding-bottom: 1%;
  padding-top: 1%;
}

.sean img {
  width: 100%;
  height: 100%;
}

.sean p {
  padding-top: 10%;
}

.cam {
  display: grid;
  grid-template-columns: 15% 20%;
  grid-template-rows: 15%;
  justify-content: center;
  grid-gap: 3%;
  padding-bottom: 1%;
  padding-top: 1%;
}

.seancam img {
  width: 100%;
  height: 100%;
}

.seancam p {
  padding-top: 10%;
}


.alden {
  display: grid;
  grid-template-columns: 15% 20%;
  grid-template-rows: 15%;
  justify-content: center;
  grid-gap: 3%;
  padding-bottom: 1%;
  padding-top: 1%;
}

.alden img {
  width: 100%;
  height: 100%;
}

.alden p {
  padding-top: 10%;
}

.notfootor {
  height: 225%;
  width: 100%;
}
.footo {
  height: 15%;
  width: 100%;
  background-color: #888;
  padding-bottom: 0;
}

.footo ol {
  list-style: none;
  padding-top: 2%;
}

.footo li {
  font-size: 14px;
  font-family: Arial;
  margin-left: 10%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  color: #7ac4b1;
  display: inline-block;
}

.notfooter {
  height: 90%;
  width: 100%;

}

.notfoota {
  height: 85%;
  width: 100%;
}

.foota {

  height: 10%;
  width: 100%;
  background-color: #888;
  padding-bottom: 0;
}

.foota ol {
  list-style: none;
  padding-top: 2%;
}

.foota li {
  font-size: 14px;
  font-family: Arial;
  margin-left: 10%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  color: #7ac4b1;
  display: inline-block;
}

.fota {

  height: 15%;
  width: 100%;
  background-color: #888;
  padding-bottom: 0;
}

.fota ol {
  list-style: none;
  padding-top: 10%;

}

.fota li #work {
  font-size: 30px;
  font-family: Arial;
  margin-left: 10%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  color: blue;
  display: inline-block;
}

.jed {
  justify-content: center;
  display: grid;
  grid-template-columns: 10% 50% 10%;
  grid-template-rows: 20% 20% 20% 20% 20% 20%;
  padding-bottom: 3%;
  padding-top: 5%;
  grid-row-gap: 2%;
}
.jed img {
  width: 200%;
}

.jed2 {
  padding-left: 26%;
  padding-right: 2%;
}



.ed img {
  width: 200%;

}

.ed1 img {
  padding-right: 26%;
  width: 225%;

}

.ed2 {
  padding-left: 26%;
  padding-right: 2%;

}
