body{
background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/background.jpg');
background-size: cover;
background-position:top;

}




h1 {
  font-family: Georgia, serif;
color:#hsla(360, 100%, 100%, 0.5);
text-align:center;
}

.main {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 60px;

}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #B0E0E8;

  }

  header::after {
    content: '';
    display: table;
    clear: both;
  }

  .logo {
    float: left;
    padding: 10px 0;
  }

  nav {
    float: right;

  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    padding-bottom: 23px;
    list-style: none;

  }

  nav a {
    text-decorattion: none;
    font-size: 17px;
    font-family: arial;
    padding: 0 auto;
    color: #696989;
    font-weight: bold;
  }

  nav a:hover {
    color: red;
  }

  .info {
    position: relative;
    top: 50px;
    left: 50px;
    display: grid;
    grid-template-rows: 450px;
    grid-template-columns: 600px 1000px;
  }

  .info p {
    font-family: arial;
    font-size: 20px;
    position: relative;
    top: 100px;
    left: 1000;
  }
